<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tasks/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-menu">
                <div class="nav-link-main">
                    <a href="{% url 'index' %}">Task Manager</a>
                </div>
                {% if user.is_authenticated %}
                    <a href="{% url 'index' %}" class="nav-link">Главная</a>
                    <form action="{% url 'logout' %}" class="logout-form" method="post">
                        {% csrf_token %} 
                        <button class="nav-btn" type="submit">Выйти</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-link">Логин</a>
                    <a href="{% url 'register' %}" class="nav-link">Регистрация</a>
                {% endif %}
            </div>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="footer-text">based on Django</div>
        </footer>
    </div>
</body>
</html>