{% extends 'tasks/base.html' %}
{% load static %}
{% block title %}Редактирование задачи{% endblock %}

{% block content %}
<div class="detailed-container">
    <div class="detailed-card">
        
        <h2 style="text-align: center; margin-top: 0;">Редактирование</h2>

        <form method="post" class="detailed-form" id="update-task-form">
            {% csrf_token %}
            {% for field in form %}
            <div class="detailed-div">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
        </form>

        <div class="form-actions">
            <button type="submit" form="update-task-form" class="btn-primary">Сохранить</button>
            <form action="{% url 'delete' task.id %}" method="post" class="js-delete-form">
                {% csrf_token %}
                <button type="submit" class="btn-delete" onclick="return confirm('Точно удалять?')">Удалить</button>
            </form>
        </div>

    </div>
</div>

<script src="{% static 'tasks/js/main.js' %}"></script>
<script>
    const man = new Manager();
    document.getElementById('update-task-form').addEventListener('submit', async function(event) {
        event.preventDefault();
        const resp = await man.updateTask(this.action, new FormData(this));
        man.showNotification(resp.message);
    });
    document.querySelector('.js-delete-form').addEventListener('submit', async function(event){
        event.preventDefault();
        const csrf = this.querySelector('[name=csrfmiddlewaretoken]').value;
        const resp = await man.deleteTask(this.action, csrf);
        man.showNotification(resp.message);
        setTimeout(() => {
            window.location.href = "{% url 'index' %}";
        }, 1000);
    })
</script>
{% endblock %}